* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header{
  background: rgba(229, 84, 115, 0.1);;
}
/* shared style */
.desc-color {
  color: rgba(39, 39, 39, 0.6);
}
.special{
  color: #E55473;
}

/* banner section */
.banner-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 100px 100px 0px 100px;
}
.banner-text {
  width: 50%;
  margin-top: 100px;
}
.banner-title {
  font-size: 70px;
  margin-bottom: 20px;
}
.banner-desc {
  font-size: 18px;
  margin-bottom: 20px;
}
.banner-img {
  width: 50%;
}
.banner-img img {
  width: 500px;
  height: 600px;
  margin-top: 20px;
}
.banner-text button {
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: #E55473;
}

/* featured section */
.featured{
  max-width: 1440px;
 margin: 0 auto;
 margin-top: 100px;
}
.featured-title{
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
}
.featured-desc{
  text-align: center;
  margin-bottom: 20px;
}
.featured-image{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.first-image, .second-image, .third-image{
  background-color: #F2DEE8;
  border-radius: 50% 50% 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

/* delivery section */
.delivery{
  max-width: 1440px;
  background-color: #F4F4F4;
  padding: 100px;
  margin: 0 auto;
  margin-top: 100px;
}
.delivery-container{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.first-delivery, .second-delivery, .third-delivery{
  text-align: center;
}

/* discount section */
.discount{
  max-width: 1440px;
  background-color: #FEF6F8;
  margin: 0 auto;
  margin-top: 100px;
}
.discount-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 50px;
}
.discount-title{
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.discoun-desc{
  font-size: 18px;
}
.discount-content{
  width: 50%;
  text-align: center;
}
.discount-content button {
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: #E55473;
  margin-top: 20px;
}

/* media section */

.media{
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 100px;
}
.media-title{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
}
.media-desc{
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
.media-image{
  display: flex;
  justify-content: space-evenly;
}

/* coupon section */
.coupon{
  background-image: url("../Flower\ Asset/Rectangle 9.png");
  height: 449px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  margin-top: 100px;

}
.coupon-title{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 15px;
}
.coupon-desc{
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
}
.input-field{
  text-align: center;
}
.input-field input[type="text"]{
  width: 400px;
  padding: 10px;
  border: none;
  outline: none;
}
.input-field button{
  padding: 10px 15px;
  background-color: #E55473;
  color: white;
  border: none;
}

/* footer */
footer{
  padding: 100px;
  background-color: black;
  margin-top: 100px;
}

.footer-content{
  color: white;
  text-align: center;
}
.footer-title{
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
}
.footer-desc{
  font-size: 18px;
  margin-bottom: 20px;
}



/* #F2DEE8 */
